<h1>スクーアプリ</h1>

<div>
  <% @posts.reverse_each do |post| %>
  <div class="well well-lg">
    <b><%= link_to post.user.name, user_path(post.user)%>:</b>
  <%= post.comment %>
        (<%=l post.created_at %>)
  </div>
  <% end %>
</div>